version: '3.8'

services:
  postgres:
    image: postgres:16 
    environment:
      POSTGRES_DB: polypaz_db 
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432" 
    volumes:
      - db_data:/var/lib/postgresql/data 
    restart: always 

volumes:
  db_data: 